body{
	font-family: Garamond, serif;
	margin: auto;
	padding: 30px;
	max-width: 800px;
	text-align: left;
	background-color: white;
	position: relative;
    line-height: inherit;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
    background-color: seagreen;
    color: seashell;
}

a{
    color: seashell;
    text-decoration-color: darkseagreen;
}

a:hover {
    color: darkseagreen;
}

nav a, footer div a {
	margin: 0px 7px;
    color: darkseagreen;
}

nav a:hover {
    color: seashell;
}

footer{
	margin-top: 40px;
	text-align: center;
    color: darkseagreen;
}

h1 {
    font-size: 88px;
    font-family: 'Playfair Display', serif;
}

h2 {
    font-size: 36px;
    font-family: 'Playfair Display', serif;
}

p, ul, nav {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    line-height: 42px;
}

li {
    list-style: none;
}